---
layout: default
title: home
---

<article class="row">
  <section class="small-12 large-8 columns page-content">

<h2>Home</h2>

<p>
A unique uPVC double glazed "Slimline" window and door system developed especially for the Static Caravan/Holiday Home market providing an alternative to expensive upgrading.  Excellent insulation with no more drafts, no more condensation, substantially reduced heating costs and low maintenance all while providing added security and value to your Van. Ensure you can enjoy your extended holidays during those colder spells... in comfort!
</p>
<p>
Hi, my name is Steve from Vulcan Windows. We specialise solely in the manufacturing and installation of a "Slimline" uPVC double glazed window and door replacement system for the Static Caravan/Holiday Home market. We have been manufacturing and fitting these since 1995, that's over 20 years! We were the very first company to get involved in this niche market and over the years have manufactured and supplied to many of our competitors!
</p>

<h2>Why choose us:</h2>
<ul>
    <li>We manufacture for either fully FITTED or SUPPLY only</li>
    <li>We fit or deliver NATIONWIDE</li>
    <li>We have manufactured and fitted 100's of static caravan windows and doors</li>
    <li>We have 100's of happy customers!</li>
    <li>We don't use silicon sealants, we use a rubber foam tape creating a watertight, draft proof seal</li>
    <li>We offer different colours and styles in uPVC including e-glass and leaded designs.</li>
    <li>We can fit within two weeks of our survey</li>
</ul>


  </section>

    {% include asides/houseWarning.html %}
    {% include asides/quote.html %}
</article>
