<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Caravan Windows and Doors</h2>
                <hr class="light">
                <p class="text-faded">
                My name is Paul and we specialise solely in “Supplying and Installing” upvc Slimline Static caravan windows and doors to <em>Static Caravan / Holiday Home market</em> we have been fitting NATIONWIDE in the UK for over 10 years.
		</p>  <p class="text-faded">
                Using only the highest specification products and combined with our professional service, this is the reason why our customers recommend us to others.
		</p>
  
                <img src="img/placeholder-815x458.png" />

                <p class="text-faded">
                Love Your Caravan……well this is an Alternative to Upgrading a unique uPVC double glazed "Slimline" window and door system developed especially for the Static Caravan/Holiday Home market therefore providing an alternative to expensive upgrading.
		</p>  <p class="text-faded">
		NO MORE DRAFTS!    NO MORE CONDENSATION!    REDUCED   HEATING COSTS! EXCELLENT INSULATION!          ADDED SECURITY!             EXTENDED HOLIDAYS!               INCREASED VALUE!   LOW MAINTENANCE……makes your Van look BRAND NEW
		</p>  <p class="text-faded">
		<em>Specializing in fitting full STATIC Caravans</em>
		</p>  <p class="text-warning">
		[SYSTEM IS NOT SUITABLE FOR TOURERS]
		</p>
            </div>
        </div>
        <div class="row">
	<h3>Choose us because:</h3>
	    <ul class="text-faded">
		<li>We manufacture for either fully FITTED or SUPPLY only</li>
		<li>We fit or deliver NATIONWIDE in the UK</li>
		<li>We have manufactured and fitted 100's of static caravan windows and doors</li>
		<li>We have 100's of happy customers!</li>
		<li>We don't use Mastics, we use a Neoprene rubber foam tape creating a watertight, draft proof seal</li>
		<li>We don’t use Screws. Our unique system uses an Aluminium “t” bar, to cramp Windows into place!</li>
		<li>We offer different vinyl colours in uPVC</li>
		<li>We can fit within two weeks of our survey</li>
		<li>I personally, do all my own Measures and Fits</li>
	    </ul>
            <p class="text-warning">
		Avoid HOUSE windows, they are too big and bulky.<br />
		ALWAYS ask to see a sample! <br />
		ASK how they fit. <br />
            </p>
	</div>
    </div>
</section>
