<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>

<div class="row">
    <div class="4u">
            <ul>
                <li>Caravan Windows</li>
                <li>double glazing for caravans</li>
                <li>double glazing for static caravans</li>
                <li>static caravan double glazing</li>
                <li>caravan double glazing</li>
                <li>lodge windows</li>
                <li>replacement caravan double glazing</li>
                <li>replacement caravan windows</li>
                <li>caravan windows</li>
                <li>narrow boat windows</li>
                <li>caravan window</li>
                <li>Static Caravan Windows</li>
                <li>Holiday Home windows</li>
                <li>Narrow Boat Windows</li>
                <li>lodge windows</li>
            </ul>
    </div>
    <div class="4u">
            <ul>
                <li>Caravan Doors</li>
                <li>caravan door</li>
                <li>caravan french doors</li>
                <li>stable doors</li>
                <li>replacement caravan door</li>
                <li>Holiday Home doors</li>
                <li>French Doors</li>
                <li>Stable Doors</li>
            </ul>
    </div>
    <div class="4u">
        <ul>
            <li>Caravans and Parks</li>
            <li>abi</li>
            <li>atlas</li>
            <li>bluebird</li>
            <li>carnaby</li>
            <li>cosalt</li>
            <li>willerby</li>

        </ul>
    </div>
</div>


    <ul class="copyright">
        <li>&copy; Caravanwindowsanddoors.co.uk</li>
    </ul>

</footer>
