<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>CARAVAN WINDOWS AND DOORS</h1>
            <h2>for STATIC / holiday home caravans</h2>
            <hr />
            <p>Call or Text {{ site.personal_name }} on <em>{{ site.contact_number }} </em> for a free quotation.<br />
            We Install <em>NATIONWIDE</em> in the UK.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-primary btn-xl wow tada">Quote Now!</a>
            </div>
        </div>
    </div>
</header>
