<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
                <hr class="primary" />
                <div class="igallery">
                    <a href="img/gallery/caravan-80.jpg">
                        <figure>
                            <img src="img/gallery/caravan-80.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-internal-1.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-internal-1.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-internal-2.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-internal-2.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-rosewood-1.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-rosewood-1.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-rosewood-2.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-rosewood-2.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-rosewood-3.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-rosewood-3.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-white-1.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-white-1.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-white-7.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-white-7.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-white-8.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-white-8.jpg" alt="" />
                        </figure>
                    </a>
                    <a href="img/gallery/slimline-odd-leg-windows-white-9.jpg">
                        <figure>
                            <img src="img/gallery/slimline-odd-leg-windows-white-9.jpg" alt="" />
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-primary btn-xl wow tada">Quote Now!</a>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</section>

