<section id="services">
    <div class="container">
        <div class="row">
            <p class="text-muted">
	    
            I personally come out to meet my customers, go thru individual Window opening, and recommend the most suitable openings for your Van, go thru opaque glass options for Doors and Bathrooms and complete a full survey

	    </p> <p class="text-muted">
	    
            Your new windows and doors are “tailor made” to fit your van, your Windows and Doors they are individually balanced to your van, ensuring a perfect fit air tight and watertight.
	    
            </p> <p class="text-muted">
	    
            Our “Slimline” window system, fits caravan walls 38mm thick, the windows and the Doors wrap around the openings by 19mm. This 19mm wrap around, on all four sides, has a 6mm thick neoprene rubber foam tape is attached, (thicker, 12mm tape is used for the Doors} this 19mm, on the Window and Doors wraps around the outside wall. It is then fitted into place with an aluminium “T” bar, that locks into the specially designed window frame giving a secure clamp finish. and fits flush with the Inside wall, the T bar acts as a neat internal trim, on the outside it crushes the tape to make a water tight draft proof tidy seal (neoprene is what wet suits are made of, so impregnable to water) ... we do not use messy and unsightly silicon sealants, that breakdown

            </p> <p class="text-muted">

            The window frame holds a 24mm double glazed glass unit comprising of two pieces of 4mm glass with a 16mm air gap.

	    </p> <p class="text-muted">
	    
	    Doors are fitted with thumb key/quick release locks on the inside to comply with fire regulations, they are key locked from outside, with three keys provided, per lock. The doors are full speck house doors fitted with high security 5 lever locks and 28mm Toughened Door Glass, with a choice of Pilkingtons Opaque glass patterns

            </p> 
        </div>
        <div class="row">
            <img src="img/slimline-odd-leg-windows-cross-section-1.jpg"/>
	</div>
	<div class="row">
	    <p class="text-muted">
	    
            Our Slimline Windows have a reduced sightline, with a front to back depth of 48mm, perfectly suited to accommodate narrower wall construction.

            </p> <p class="text-muted">

            The slim-line odd leg section sits on the external face of the building, giving a coverage of 19mm on all sides. A 6mm foam tape can be installed on the window, which when compressed during installation stage, becomes watertight and fills in any gaps within the external cladding giving a clean finish.

	    </p> <p class="text-muted">

	    The windows are installed by knocking an aluminium fixing bar into the specially designed window, giving a secure clamp fix finish. The fixing bar then doubles up as an internal trim which sits flush to the inner wall, plastic corners are knocked into track.
            
	    </p>

        </div>
	<div class="row">
	    <img src="img/slimline-odd-leg-windows-cross-section-2.jpg"/>
	</div>
        <div class="row">
	    <p class="text-muted">
	
            The Aluminium trim is suitable for wall construction of 38mm, but we supply an “odd leg Trim” that is also suitable for 53mm or 65mm and. If your wall construction differs, then you can pack out or fix them using screws and trim up on the inside.

	    </p> <p class="text-muted">
	    
	    Their for also suitable for  Park Homes, Portable Cabins, Narrow Boats and Barges throughout the UK  in 38mm,53mm and 66mm walls

            </p> <p class="text-muted">
	    
	    The Slim-line windows hold a 24mm double glazed unit, whilst the door accommodate a 28mm double glazed unit / panel.

            </p> <p class="text-warning">

            [SYSTEM IS NOT SUITABLE FOR TOURERS]
	
	    </p>
	</div>

    </div>
</section>
